


/*----------------------------------------------------------------------------- 
01=BASE   
-----------------------------------------------------------------------------*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}


/*----------------------------------------------------------------------------- 
02=LAYOUT  
-----------------------------------------------------------------------------*/
body{
     background-color: lightgray;
}
#container{
     width: 1000px;
     margin: 0 auto 0 auto;

}



#sidebar{
     background-color: white;
     width: 290px;
     padding: 50px;
     float: left;
     margin: 0 10px;

}

#footer{
     background-color: lightgray;
     margin-left: 260px;
     width: 1000px;
     
}








/*----------------------------------------------------------------------------- 
03=MAIN  
-----------------------------------------------------------------------------*/
#header{
     background-color: lightgray;
     padding: 50px;
}


#main{
     background-color: white;
     width: 690px;
     padding: 50px;
     float: left;
}

h2{
     font-size:xx-large;
}

/*----------------------------------------------------------------------------- 
03=SIDEBAR  
-----------------------------------------------------------------------------*/
#profile{
     border-radius: 50% 50% 50% 50%;
     width: 200px;
     height: 200px;
}



a{
     color: orange;
     text-decoration: none;
}
